<div class="alert-box layout {{alert.type}}" ng-if="alert">
    <div>
        <span ng-show="alert.type == 'info'" class="fa fa-info-circle"></span>
        <span ng-show="alert.type == 'warning'" class="fa fa-warning"></span>
        <span ng-show="alert.type == 'error'" class="fa fa-exclamation-circle"></span>
    </div>
    <div>
        <h3 ng-show="alert.heading">{{alert.heading}}</h3>
    </div>
    <div class="flex">{{alert.message}}</div>
    <div>
        <button type="button" role="button" class="icon" title="{{'alert-close' | translate}}" ng-click="closeAlertBox()"><span class="ibm ibm-icon--close"></span></button>
    </div>
</div>
