<div class="modal-header">
  <h3 id="modal-title" class="modal-title">
    {{'project-created-successfully' | translate}}
  </h3>
  <button type="button" role="button" class="icon" title="{{'cancel' | translate}}" aria-label="{{'cancel' | translate}}" ng-click="cancel()"><span class="ibm ibm-icon--close float-right"></span></a>
</div>

<div class="modal-body">
  <p>{{'project-first-model-added' | translate}}</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary ibm-btn ibm-btn--primary" ng-click="cancel()">
    {{'project-name-model' | translate}}
  </button>
</div>
